{% extends "base.html" %} {% block title %} My Apartments {% endblock title %}

<!-- apartments -->
{% block main_content %}
<table>
    <thead>
        <tr>
            <th>#id</th>
            <th>Name</th>
            <th>Current Price</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for apartment in apartments %}
        <tr>
            <td>{{ apartment.id }}</td>
            <td>{{ apartment.name }}</td>
            <td>{{ apartment.current_price }}</td>
            <td>{{ apartment.is_avaliable }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main_content %}